In [1]:
import pandas as pd

In [2]:
birinci_klavuz = pd.read_csv("https://raw.githubusercontent.com/hasanbarisgok/DataScience/main/projects/hemsirelik_atama/1_12_2020.csv")

In [3]:
birinci_klavuz.describe().T

      count        mean         std     min     25%     50%     75%     max
2469  617.0  2778.00000  178.256837  2470.0  2624.0  2778.0  2932.0  3086.0
276   617.0     9.19611   27.475824     1.0     2.0     2.0     7.0   400.0
0     617.0     0.00000    0.000000     0.0     0.0     0.0     0.0     0.0
4605  617.0  4605.00000    0.000000  4605.0  4605.0  4605.0  4605.0  4605.0

In [4]:
birinci_klavuz = birinci_klavuz.drop(columns = ["2469","4605"])

In [5]:
birinci_klavuz = birinci_klavuz.rename(columns = {"1.12.2020": "HISTORY", "Şişli Hamidiye Etfal EAH.": "HOSPITALS", "Hemşire (İstanbul) taşra": "CITIES", "276": "TOTAL QUOATA","0":"VACANT", "73,72":"LOWEST POINT","79,21":"HIGHEST POINT"})

In [6]:
birinci_klavuz.head()

,HISTORY,HOSPITALS,CITIES,TOTAL QUOATA,VACANT,LOWEST POINT,HIGHEST POINT
0,1.12.2020,Posof İlçe Devlet Hast.,Hemşire (Ardahan) taşra,1,0,"73,74","73,74"
1,1.12.2020,Şiran Devlet Hast.,Hemşire (Gümüşhane) taşra,1,0,"73,8","73,8"
2,1.12.2020,Tekman Şehit Piyade Çavuş Muhammet Binici Devl...,Hemşire (Erzurum) taşra,5,0,"74,16","74,52"
3,1.12.2020,Narman İlçe Devlet Hast.,Hemşire (Erzurum) taşra,1,0,"74,21","74,21"
4,1.12.2020,Karaçoban İlçe Devlet Hast.,Hemşire (Erzurum) taşra,2,0,"74,25","74,35"

In [7]:
regex = r'\((.*?)\)'

In [8]:
birinci_klavuz.CITIES = birinci_klavuz.CITIES.str.extract(regex)
birinci_klavuz.head()

,HISTORY,HOSPITALS,CITIES,TOTAL QUOATA,VACANT,LOWEST POINT,HIGHEST POINT
0,1.12.2020,Posof İlçe Devlet Hast.,Ardahan,1,0,"73,74","73,74"
1,1.12.2020,Şiran Devlet Hast.,Gümüşhane,1,0,"73,8","73,8"
2,1.12.2020,Tekman Şehit Piyade Çavuş Muhammet Binici Devl...,Erzurum,5,0,"74,16","74,52"
3,1.12.2020,Narman İlçe Devlet Hast.,Erzurum,1,0,"74,21","74,21"
4,1.12.2020,Karaçoban İlçe Devlet Hast.,Erzurum,2,0,"74,25","74,35"

In [9]:
regions = pd.read_csv("https://raw.githubusercontent.com/hasanbarisgok/TurkiyeSehirlerBolgeler/master/csv/sehirler_ve_bolgeler.csv")
regions = regions[["SehirAd","BolgeAd"]]
regions = regions.rename(columns = {"SehirAd":"CITIES","BolgeAd":"REGIONS"})
regions.head()

           CITIES                    REGIONS
0           Adana            Akdeniz Bölgesi
1        Adıyaman  Güneydoğu Anadolu Bölgesi
2  Afyonkarahisar                Ege Bölgesi
3            Ağrı       Doğu Anadolu Bölgesi
4          Amasya          Karadeniz Bölgesi

In [10]:
birinci_klavuz = birinci_klavuz.merge(regions, how = "inner", on = "CITIES")

In [11]:
birinci_klavuz.head()

,HISTORY,HOSPITALS,CITIES,TOTAL QUOATA,VACANT,LOWEST POINT,HIGHEST POINT,REGIONS
0,1.12.2020,Posof İlçe Devlet Hast.,Ardahan,1,0,"73,74","73,74",Doğu Anadolu Bölgesi
1,1.12.2020,Göle Devlet Hast.,Ardahan,2,0,"74,32","74,63",Doğu Anadolu Bölgesi
2,1.12.2020,Ardahan Devlet Hast.,Ardahan,5,0,"75,36","75,93",Doğu Anadolu Bölgesi
3,1.12.2020,Ardahan Çıldır TSM.,Ardahan,1,0,76,76,Doğu Anadolu Bölgesi
4,1.12.2020,Şiran Devlet Hast.,Gümüşhane,1,0,"73,8","73,8",Karadeniz Bölgesi

In [12]:
birinci_klavuz.shape

(617, 8)

In [13]:
birinci_klavuz["TOTAL QUOATA"].max()

400

In [14]:
birinci_klavuz["TOTAL QUOATA"].min()

1

In [15]:
dogu_anadolu = birinci_klavuz.loc[birinci_klavuz["REGIONS"] == "Doğu Anadolu Bölgesi"]
karadeniz = birinci_klavuz.loc[birinci_klavuz["REGIONS"] == "Karadeniz"]
ege = birinci_klavuz.loc[birinci_klavuz["REGIONS"] == "Ege Bölgesi"]
akdeniz = birinci_klavuz.loc[birinci_klavuz["REGIONS"] == "Akdeniz Bölgesi"]
marmara = birinci_klavuz.loc[birinci_klavuz["REGIONS"] == "Marmara Bölgesi"]

In [16]:
dogu_anadolu.to_csv("dogu_anadolu.csv",encoding='utf-8-sig')
karadeniz.to_csv("karadeniz.csv",encoding='utf-8-sig')
ege.to_csv("ege.csv",encoding='utf-8-sig')
akdeniz.to_csv("akdeniz.csv",encoding='utf-8-sig')
marmara.to_csv("marmara.csv",encoding='utf-8-sig')