In [1]:
import pandas as pd

In [2]:
ikinci_klavuz = pd.read_csv("https://raw.githubusercontent.com/hasanbarisgok/DataScience/main/projects/hemsirelik_atama/16_11_2021.csv")

In [3]:
ikinci_klavuz.describe().T

,count,mean,std,min,25%,50%,75%,max
1546,921.0,2007.000000,266.014097,1547.0,1777.0,2007.0,2237.0,2467.0
669,921.0,8.821933,24.002916,1.0,1.0,2.0,6.0,353.0
Unnamed: 5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4605,921.0,4605.000000,0.000000,4605.0,4605.0,4605.0,4605.0,4605.0

In [4]:
ikinci_klavuz.head()

,1546,16.12.2021,Başakşehir Çam ve Sakura Şehir Hast.,Hemşire (İstanbul),669,Unnamed: 5,"71,07","79,7",4605
0,1547,16.12.2021,Isparta Gelendost İlçe Devlet Hast. Yenice Sağ...,Hemşire (Isparta),1,NaN,"71,3","71,3",4605
1,1548,16.12.2021,Gaziosmanpaşa EAH.,Hemşire (İstanbul),53,NaN,"71,37","84,16",4605
2,1549,16.12.2021,Taksim EAH.,Hemşire (İstanbul),30,NaN,"71,39","80,86",4605
3,1550,16.12.2021,Yedikule Göğüs Hastal. ve Göğüs Cer. EAH,Hemşire (İstanbul),50,NaN,"71,39","80,46",4605
4,1551,16.12.2021,Esenler Kadın Doğum ve Çocuk Hastal.Hast.,Hemşire (İstanbul),22,NaN,"71,45","81,5",4605

In [5]:
ikinci_klavuz = ikinci_klavuz.drop(columns = ["Unnamed: 5", "1546", "4605"])

In [6]:
ikinci_klavuz.head()

,16.12.2021,Başakşehir Çam ve Sakura Şehir Hast.,Hemşire (İstanbul),669,"71,07","79,7"
0,16.12.2021,Isparta Gelendost İlçe Devlet Hast. Yenice Sağ...,Hemşire (Isparta),1,"71,3","71,3"
1,16.12.2021,Gaziosmanpaşa EAH.,Hemşire (İstanbul),53,"71,37","84,16"
2,16.12.2021,Taksim EAH.,Hemşire (İstanbul),30,"71,39","80,86"
3,16.12.2021,Yedikule Göğüs Hastal. ve Göğüs Cer. EAH,Hemşire (İstanbul),50,"71,39","80,46"
4,16.12.2021,Esenler Kadın Doğum ve Çocuk Hastal.Hast.,Hemşire (İstanbul),22,"71,45","81,5"

In [7]:
ikinci_klavuz = ikinci_klavuz.rename(columns = {"16.12.2021" : "HISTORY", "Başakşehir Çam ve Sakura Şehir Hast." : "HOSPITALS", "Hemşire (İstanbul)":"CITIES","669":"QUOATA", "71,07":"MIN",
                                "79,7":"MAX"})

In [8]:
ikinci_klavuz.head()

,HISTORY,HOSPITALS,CITIES,QUOATA,MIN,MAX
0,16.12.2021,Isparta Gelendost İlçe Devlet Hast. Yenice Sağ...,Hemşire (Isparta),1,"71,3","71,3"
1,16.12.2021,Gaziosmanpaşa EAH.,Hemşire (İstanbul),53,"71,37","84,16"
2,16.12.2021,Taksim EAH.,Hemşire (İstanbul),30,"71,39","80,86"
3,16.12.2021,Yedikule Göğüs Hastal. ve Göğüs Cer. EAH,Hemşire (İstanbul),50,"71,39","80,46"
4,16.12.2021,Esenler Kadın Doğum ve Çocuk Hastal.Hast.,Hemşire (İstanbul),22,"71,45","81,5"

In [9]:
regex = r'\((.*?)\)'

In [10]:
ikinci_klavuz["CITIES"] = ikinci_klavuz["CITIES"].str.extract(regex)

In [11]:
ikinci_klavuz.head()

,HISTORY,HOSPITALS,CITIES,QUOATA,MIN,MAX
0,16.12.2021,Isparta Gelendost İlçe Devlet Hast. Yenice Sağ...,Isparta,1,"71,3","71,3"
1,16.12.2021,Gaziosmanpaşa EAH.,İstanbul,53,"71,37","84,16"
2,16.12.2021,Taksim EAH.,İstanbul,30,"71,39","80,86"
3,16.12.2021,Yedikule Göğüs Hastal. ve Göğüs Cer. EAH,İstanbul,50,"71,39","80,46"
4,16.12.2021,Esenler Kadın Doğum ve Çocuk Hastal.Hast.,İstanbul,22,"71,45","81,5"

In [12]:
regions = pd.read_csv("https://raw.githubusercontent.com/hasanbarisgok/TurkiyeSehirlerBolgeler/master/csv/sehirler_ve_bolgeler.csv")
regions = regions[["SehirAd","BolgeAd"]]
regions = regions.rename(columns = {"SehirAd":"CITIES","BolgeAd":"REGIONS"})
regions.head()

           CITIES                    REGIONS
0           Adana            Akdeniz Bölgesi
1        Adıyaman  Güneydoğu Anadolu Bölgesi
2  Afyonkarahisar                Ege Bölgesi
3            Ağrı       Doğu Anadolu Bölgesi
4          Amasya          Karadeniz Bölgesi

In [13]:
ikinci_klavuz = ikinci_klavuz.merge(regions, how = "inner", on = "CITIES")
ikinci_klavuz.head()

,HISTORY,HOSPITALS,CITIES,QUOATA,MIN,MAX,REGIONS
0,16.12.2021,Isparta Gelendost İlçe Devlet Hast. Yenice Sağ...,Isparta,1,"71,3","71,3",Akdeniz Bölgesi
1,16.12.2021,Isparta Yalvaç İlçe Sağlık Müd. Yukarı Kaşıkar...,Isparta,1,"71,7","71,7",Akdeniz Bölgesi
2,16.12.2021,İsparta Yalvaç İlçe Sağlık Müd. Kuruyaka Sağlı...,Isparta,1,"71,72","71,72",Akdeniz Bölgesi
3,16.12.2021,Isparta Sütçüler İlçe Devlet Hast.i Yeşilyurt ...,Isparta,1,"71,73","71,73",Akdeniz Bölgesi
4,16.12.2021,Isparta Gelendost İlçe Devlet Hast. Çaltı Sağl...,Isparta,1,"71,85","71,85",Akdeniz Bölgesi

In [14]:
ikinci_klavuz.shape

(921, 7)

In [15]:
ikinci_klavuz["QUOATA"].max()

353

In [16]:
ikinci_klavuz["QUOATA"].min()

1

In [18]:
dogu_anadolu_ikinci_klavuz = ikinci_klavuz.loc[ikinci_klavuz["REGIONS"] == "Doğu Anadolu Bölgesi"]
karadeniz_ikinci_klavuz = ikinci_klavuz.loc[ikinci_klavuz["REGIONS"] == "Karadeniz"]
ege_ikinci_klavuz = ikinci_klavuz.loc[ikinci_klavuz["REGIONS"] == "Ege Bölgesi"]
akdeniz_ikinci_klavuz = ikinci_klavuz.loc[ikinci_klavuz["REGIONS"] == "Akdeniz Bölgesi"]
marmara_ikinci_klavuz = ikinci_klavuz.loc[ikinci_klavuz["REGIONS"] == "Marmara Bölgesi"]

In [20]:
dogu_anadolu_ikinci_klavuz.to_csv("dogu_anadolu_ikinci_klavuz.csv",encoding='utf-8-sig')
karadeniz_ikinci_klavuz.to_csv("karadeniz_ikinci_klavuz.csv",encoding='utf-8-sig')
ege_ikinci_klavuz.to_csv("ege_ikinci_klavuz.csv",encoding='utf-8-sig')
akdeniz_ikinci_klavuz.to_csv("akdeniz_ikinci_klavuz.csv",encoding='utf-8-sig')
marmara_ikinci_klavuz.to_csv("marmara_ikinci_klavuz.csv",encoding='utf-8-sig')