# Militray_Data:

In [1]:
import pandas as pd

In [2]:
military_data = pd.read_csv("https://raw.githubusercontent.com/hasanbarisgok/DataScience/main/opensource-datas/military_data.csv")
df = military_data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   172 non-null    object
 1   Active military           171 non-null    object
 2   Reserve military          171 non-null    object
 3   Paramilitary              171 non-null    object
 4   Total                     172 non-null    object
 5   Per 1000 capita (total)   172 non-null    float64
 6   Per 1000 capita (active)  171 non-null    float64
dtypes: float64(2), object(5)
memory usage: 9.5+ KB

In [3]:
df.head()

,Country,Active military,Reserve military,Paramilitary,Total,Per 1000 capita (total),Per 1000 capita (active)
0,Afghanistan,"171,200",0,"148,200","319,400",9.6,5.1
1,Albania,"8,000",0,500,"8,500",2.8,2.6
2,Algeria,"130,000","150,000","187,200","467,200",11.6,3.2
3,Angola,"107,000",0,"10,000","117,000",5.8,5.3
4,Antigua and Barbuda,180,80,0,260,2.8,1.9

In [4]:
print(df.describe())

       Per 1000 capita (total)  Per 1000 capita (active)
count               172.000000                171.000000
mean                 14.497093                  4.166667
std                  33.109945                  5.366925
min                   0.000000                  0.000000
25%                   2.275000                  1.500000
50%                   4.850000                  2.700000
75%                  11.150000                  4.650000
max                 305.700000                 47.400000

In [5]:
df['Active military'] = df['Active military'].str.replace(',', '', regex=True)
df['Reserve military'] = df['Reserve military'].str.replace(',', '', regex=True)
df['Paramilitary'] = df['Paramilitary'].str.replace(',', '', regex=True)
df['Total'] = df['Total'].str.replace(',', '', regex=True)

In [6]:
df = df.dropna()

In [7]:
df[['Active military','Reserve military','Paramilitary','Total']] = df[['Active military','Reserve military','Paramilitary','Total']].astype(int)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 0 to 171
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   171 non-null    object
 1   Active military           171 non-null    int32
 2   Reserve military          171 non-null    int32
 3   Paramilitary              171 non-null    int32
 4   Total                     171 non-null    int32
 5   Per 1000 capita (total)   171 non-null    float64
 6   Per 1000 capita (active)  171 non-null    float64
dtypes: float64(2), int32(4), object(1)
memory usage: 8.0+ KB

In [9]:
df = df.sort_values(by="Active military", ascending = False)
df.head()

,Country,Active military,Reserve military,Paramilitary,Total,Per 1000 capita (total),Per 1000 capita (active)
33,People's Republic of China,2183000,510000,660000,3353000,2.4,1.6
69,India,1395100,2142800,1403700,4941600,3.9,1.1
164,United States of America,1347300,865050,14850,2227200,6.9,4.2
113,North Korea,1190000,6300000,189000,7679000,305.7,47.4
129,Russia,1013000,2500000,710000,4223000,29.7,7.1

In [14]:
len(df[df["Active military"] > 150000])

33

In [17]:
df[df["Active military"] > 150000].sort_values(by="Active military", ascending = False).head()

,Country,Active military,Reserve military,Paramilitary,Total,Per 1000 capita (total),Per 1000 capita (active)
33,People's Republic of China,2183000,510000,660000,3353000,2.4,1.6
69,India,1395100,2142800,1403700,4941600,3.9,1.1
164,United States of America,1347300,865050,14850,2227200,6.9,4.2
113,North Korea,1190000,6300000,189000,7679000,305.7,47.4
129,Russia,1013000,2500000,710000,4223000,29.7,7.1

In [18]:
df[df["Active military"] > 150000].sort_values(by="Total", ascending = False).head()

,Country,Active military,Reserve military,Paramilitary,Total,Per 1000 capita (total),Per 1000 capita (active)
141,South Korea,630000,7500000,4500,8134500,159.7,12.4
113,North Korea,1190000,6300000,189000,7679000,305.7,47.4
168,Vietnam,482000,5000000,40000,5522000,58.0,5.1
69,India,1395100,2142800,1403700,4941600,3.9,1.1
129,Russia,1013000,2500000,710000,4223000,29.7,7.1