# BASIC SQL COMMANDS:

Data Manipulation Codes: **Select, Insert, Update, Delete, Truncate**

Database Manipulation Codes: **CREATE, ALTER, DROP...**

# Data Manipulation Codes:

**Select**: Pulls records from table in database.

**Update**: Updates, and changes records one or more fields from the table.

**Delete**: Deletes a row from the table.

**Insert**: Adds new records to table.

**Truncate:** Deletes everything from the table. (Emptys the table)

# Database Manipulation Codes:

**Create**: Creates a database object.

**Alter**: Changes a property of the database object.

**Drop**: Removes a database object.

**CREATE DATABASE**: Creates a new database.

**ALTER DATABASE**: Changes properties of the database.

**CREATE TABLE**: Creates a new table.

**ALTER TABLE**: Changes properties of the table.

**DROP TABLE** : Removes table all.

**CREATE INDEX** : Creates an index.

**DROP INDEX**: Removes the index.