# Insert Command

The insert command is used for inserting one or more rows 
into a database table with specified table column values. 
The first DML command executed immediately after a table creation is 
the insert statement.

source: techopedia.com

**The Insert Command Syntax:**

INSERT INTO `TABLENAME`

(`COLUMN1,COLUMN2,COLUMN3,...`)

VALUES

(`VALUE1,VALUE2,VALUE3,..`)

**Example Code:**

INSERT INTO CUSTOMERS
(CUSTOMERNAME,CITY,BIRTHDATE,GENDER)
VALUES
('John','New Jersey','1996-03-16,'M')