# Update Command

Update command is a data manipulation command which is used to 
edit the records of a table. It may be used to update 
a single row based on a condition, all rows or set of rows 
based on the condition given by the user.

Source: tutorialspoint.com

**Update Command Syntax:**

UPDATE `TABLENAME`

SET `COLUMN1=VALUE1,COLUMN2=VALUE2...`

WHERE `<CONDITIONS>`

**Example Codes Here:**

*This code changes only one column name*

UPDATE `CUSTOMERS`

SET `NATION= 'US'`






*This code changes many column names same time*

UPDATE `CUSTOMERS`

SET `NATION= 'US', AGE=35`

**Quote:** Customers is D.B (Database) Name, *Nation & Age* are column names from Customers DataBase.

In [3]:
#HasanBarisGOK - From Github DataScience, sql_learning_period directory.