# Simple Aggregation & Grouping

**These are simple Grouping Functions:**
    count()
    first()
    last()
    mean()
    median()
    min()
    max()
    std()
    var()
    sum()

In [3]:
import seaborn as sns

In [11]:
df = sns.load_dataset("planets")
df.head() #to see first 5 [0,5) row & all columns

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [12]:
#The data info: 1035 rows, 6 columns
df.shape

(1035, 6)

In [16]:
#All columns average
df.mean()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_25908\3377228294.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [18]:
#Selected column's average
df["mass"].mean()

2.6381605847953233

In [19]:
#Selected column's min value
df["mass"].min()

0.0036

In [21]:
#Selected column's max value
df["mass"].max()

25.0

In [22]:
#Sum all values of selected column.
df["mass"].sum()

1353.37638

In [23]:
df["mass"].std()

3.8186166509616046