In [1]:
import numpy as np
import pandas as pd

In [6]:
#Creating an array with using numpy
matris = np.random.randint(1,30, size = (10,3))

In [9]:
#Creating a DataFrame from the array (matris)
#We're gived the name : `df` to DataFrame.
#So we can use DataFrame as variable `df` on all the page.
df = pd.DataFrame(matris, columns = ["variable_1","variable_2","variable_3"])

In [10]:
#Showing DataFrame
df

   variable_1  variable_2  variable_3
0          27           8           5
1          25          20           3
2          12          22           3
3          24           9           6
4           5           5           6
5          26           1           4
6          13          28          26
7          22          16          17
8           8           6           7
9          10           7           5

# LOC

**Loc** is using for selecting process as it's defined form.

In [12]:
df.loc[0:3]

   variable_1  variable_2  variable_3
0          27           8           5
1          25          20           3
2          12          22           3
3          24           9           6

# ILOC

**Iloc** is using for selecting process as the way whic we're used to normally in Python Process.

In [13]:
df.iloc[0:3]

   variable_1  variable_2  variable_3
0          27           8           5
1          25          20           3
2          12          22           3

So, If we use the `loc` technique, we're working on the DataFrame with selected Index Num.

Above this, if we use the another technique which is called by `iloc`, we're working on the DataFrame with total Index num. This likes `len`.

In [16]:
df.iloc[0,0] #The value which is in 0,0 index.

27

In [17]:
df.iloc[:3,:2]

   variable_1  variable_2
0          27           8
1          25          20
2          12          22

In [23]:
df.loc[0:3,"variable_3"] #Many Special Requests.
#These values features:
#0rd and 3rd rows, and only variable_3 column.

0    5
1    3
2    3
3    6
Name: variable_3, dtype: int32

In [24]:
#Hasan Baris GOK from Data Manipulation 201 Pandas Directory on GitHub.