# Violin Graph

In [2]:
import seaborn as sns

The Dataset Story:

total_bill = total price of food (tax & tip included)
tip: tip
sex : The gender of the person who payed the bill
smoker: Is there any smoking in the group? (0=NO,1=YES)
day : day (3=Thur,4=Fri,5=Sat,6=Sun..)
time: Which time? (0=Day,1=Night)
size = How many person in the group?

In [6]:
tips = sns.load_dataset("tips") #loading data from seaborn library
df = tips.copy() #Creating a new variable to work on dataset
df.head() #To see first 5 elements in dataset

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#If we're wanting to create a violin graph,
#We have to set kind settings as `violin`.

In [21]:
sns.catplot(y = "total_bill", 
            kind = "violin", 
            data = df);

In [22]:
#Cross Process in Violin Graph:

In [27]:
sns.catplot(x = "day", y = "total_bill", kind = "violin", data = df);

In [31]:
#Quote: If you want to add 3rd dimension, you should use to `hue` setting.
sns.catplot(x="day",y="total_bill", hue = "sex", kind = "violin", data = df);

In [10]:
#Hasan Baris GOK from Data Virtualization Directory on GitHub.